HACenv/
# .vscode/
output_dir/
__pycache__/
wandb/
data/
shapefiles/
checkpoints/
outputs/
datasets/
datasets2/
__pycache__/
euler_job_submission/
euleroutputs/
wpop/
sHACenv4/
cy_utils/__pycache__/
*.pyc
datasettop5
/pomelo_input_data
/test.txt
